# Ignore virtual environment directory
.venv/

# Ignore __pycache__ directories
__pycache__/

# Ignore Python cache files
*.py[cod]
*$py.class

# Ignore environment-specific files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS-specific files
.DS_Store

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
.coverage
htmlcov/